<div class="index-map" style="clear:both">
  <div class="map-cheer">
  </div>
  <div class="map-search-container">


    <% if @near_search_results.present? %>


    <script>
      function initMap() {

        coordinates = <%= @location_coordinates %>;

          var myLatLng = {lat: <%= @near_search_results.first['latitude'] %>, lng: <%= @near_search_results.first['longitude'] %>};

          var map = new google.maps.Map(document.getElementById('map-search'), {
            zoom: 12,
            center: myLatLng
            });

          var marker, count;
          for (count = 0; count < coordinates.length; count++) {
              marker = new google.maps.Marker({
                position: new google.maps.LatLng(coordinates[count][0], coordinates[count][1]),
                map: map,
                title: 'Hello World'
              });
          }
          $('#near_search').val('');
        };

        window.google = {};
    </script>
    <% else %>
    <script>
      function initMap() {
          var myLatLng = {lat: 39.7430747, lng: -105.0201698 };

          var map = new google.maps.Map(document.getElementById('map-search'), {
            zoom: 17,
            center: myLatLng
            });

            var marker = new google.maps.Marker({
              position: myLatLng,
              map: map,
              itle: 'Hello World!'
              });
        };

        window.google = {};
    </script>
    <% end %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2EurYLoXt3BYUbbLyGqcCVdhQPwjWwYg&callback=initMap"></script>
    <div class="map-search-list">
      <div class="brewery-map-search-container">
        <%= form_tag(root_path, :method => "get", class: 'index_search col-12') do %>
          <%= search_field_tag :near_search, params[:near_search], placeholder: "Enter a city." %>
        <% end %>
      </div>
      <div class="brewery_search_results">
        <% if @near_search_results%>
          <% @near_search_results.each do |result| %>
            <div class="near_search_result">
            <%= link_to result['brewery']['name'], brewery_path("#{result['brewery']['id']}_#{result['id']}"), :style => "color:black" %> <br />
            <%= result['name'] %> <br />
            <%= result['streetAddress'] %> <br /> <%= result['locality'] %>, <%= result['region'] %>, <%= result['postalCode'] %>
            <hr />
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="map-search">
    </div>

  </div>
  <div class="map-bottom">
  </div>
</div>

