<div class="container col-12">
  <div class="brewery-header">
    <div class="name-box">
     <%= image_tag "#{@organization['data']['images']['squareLarge']}", :class => "brew_logo" %>
      <% @breweries['data'].each do |brewery| %>
        <% if params[:id].split('_').last.delete(' ') == brewery['id'].delete(' ') %>
          <h1 id='brewery_location'><%= brewery['name'] %></h1>
          <p class="city"><%= brewery['locality'] %>, <%= brewery['region'] %></p>
          <% break %>
        <% end %>
      <% end%>
      <p class="description-text">
        <%= @organization['data']['description'] %>
      </p>
    </div>
  </div>
</div>
<div class="main-stuff col-12">
  <div class="beer-table-google col-7 col-s-12">
    <div class="beer-table-div">
      <h2>Beer List</h2>
      <table class="beer-table col-12 col-s-12">
          <tr class= "column-headers">
            <th class="ch col-3">Name</th>
            <th class="ch col-2">Style</th>
            <th class="ch col-1">Abv</th>
            <th class="ch col-5 beer_description">Description</th>
          </tr>
          <% @beers['data'].each do |beer| %>
            <tr class= 'brewery_beer_table_tr'>
              <td><%= beer['nameDisplay'] %></td>
              <% if beer['style'].present?%>
                <td><%= beer['style']['shortName'] %></td>
              <% else %>
                <td>No Description Available</td>
              <% end %>
              <td><%= beer['abv'] %>%</td>
              <% @beer_ids['data'].each do |beer_id|%>
                <% if beer_id['id'] == beer['id']%>
                  <% if beer_id['description'] %>
                    <td class="beer_description"><%= beer_id['description'] %></td>
                    <% break %>
                  <% else %>
                    <td class="beer_description">No Description Available</td>
                    <% break%>
                  <% end %>
                <% end %>
                <% if beer_id['id'] == @beer_ids['data'].last['id'] && (beer_id['id'] != beer['id']) %>
                  <td class="beer_description">No Description Available</td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="read_more_div col-12">
        <button id="read">Read More...</button>
      </div>
    <div class="google-contact">
      <h2>Brewery Information</h2>
       <% @breweries['data'].each do |brewery| %>
        <% if params[:id].split('_').last.delete(' ') == brewery['id'].delete(' ') %>
          <% if current_user.present? %>
            <script>var user_email = '<%= current_user.email%>';  </script>
          <% else %>
            <script>var user_email = 'Not logged in';  </script>
          <% end %>
        <script>

          function initMap() {
            var myLatLng = {lat: <%= brewery['latitude'] %>, lng: <%= brewery['longitude'] %>};

            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 18,
              center: myLatLng
            });

            var marker = new google.maps.Marker({
              position: myLatLng,
              map: map,
              title: 'Hello World!'
            });


          }

          window.google = {}
      </script>
          <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2EurYLoXt3BYUbbLyGqcCVdhQPwjWwYg&callback=initMap"></script>
      <div id="map" class="col-12"></div>
      <br />
      <div class="information">
        <div class="contact-info col-6">
         <span class="fa fa-building fa-2x" aria-hidden="true"></span>
          <address>
          <%= brewery['streetAddress']%> <br />
          <%= brewery['locality']%>, <%= brewery['region'] %> <%= brewery['postalCode']%>
          </address>
          <br />
          <span class="fa fa-phone fa-2x" aria-hidden="true"></span>
          <address><%= brewery['phone'] %></address>
          <br />
          <div class="contact-social">
            <button class="website_button"><%= link_to 'Website', "#{@organization['data']['website']}", :style => 'text-decoration:none' %></button>
            <span class="fa fa-facebook-square fa-2x social-button"></span>
            <span class="fa fa-twitter-square fa-2x social-button"></span>
          </div>
        </div>
        <% end %>
        <% end%>
        <div class="hours col-6">
          Hours of Operation
          <table class="hours_table">
            <tr>
              <td>MON:</td>
              <td>CLOSED</td>
            </tr>
            <tr>
              <td>TUES:</td>
              <td>12:00pm - 11:00pm</td>
            <tr>
              <td>WED:</td>
              <td>12:00pm - 11:00pm</td>
            </tr>
            <tr>
              <td>THU:</td>
              <td>12:00pm - 11:00pm</td>
            </tr>
            <tr>
              <td>FRI:</td>
              <td>12:00pm - 11:00pm</td>
            </tr>
            <tr>
              <td>SAT:</td>
              <td>12:00pm - 11:00pm</td>
            </tr>
            <tr>
              <td>SUN:</td>
              <td>12:00pm - 11:00pm</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>
  <div class="reviews-column col-5 col-s-12">
    <div class="reviews-div">
      <div class="reviews-header">
        <div style="font-size:24px" class="col-3">Reviews-</div>
        <div class="avg-rating col-2"></div>
        <button id="new-board" class="col-3">Add a Review</button>

      </div>
      <!-- Create Board Modal -->

      <div class="modal micromodal-slide" id="create-board" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
          <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="create-board-title">
            <header class="modal__header">
              <h2 class="modal__title" id="create-board-title">
                Add a review
              </h2>
              <button class="modal__close" aria-label="Close modal" data-micromodal-close>X</button>
            </header>
            <form type="POST">
              <main class="modal__content" id="create-board-content">
                <input id='comment-message' placeholder="Message">
                <input id='comment-rating' placeholder="Rating (1 to 5)">
              </main>
              <footer class="modal__footer">
                <button id="save-board" class="website_button">Submit</button>
              </footer>
            </form>
          </div>
        </div>
      </div>
      <hr />
      <div class="review">
      </div>
    </div>
  </div>
</div>

